@font-face {
  font-family: "iconfont"; /* Project id 4842813 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1743773911098') format('woff2'),
       url('iconfont.woff?t=1743773911098') format('woff'),
       url('iconfont.ttf?t=1743773911098') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubao:before {
  content: "\e65f";
}

.icon-weixin:before {
  content: "\e609";
}

.icon-zhifubao1:before {
  content: "\e8e4";
}

.icon-weixingongzhonghao:before {
  content: "\e605";
}

.icon-gongzuozhan:before {
  content: "\e6c9";
}

.icon-weixin1:before {
  content: "\e607";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-csdn1:before {
  content: "\e602";
}

.icon-zhuye:before {
  content: "\e663";
}

.icon-zhuye1:before {
  content: "\e689";
}

.icon-zhuye2:before {
  content: "\e608";
}

.icon-bilibili:before {
  content: "\e723";
}

.icon-jishuboke:before {
  content: "\e74e";
}

.icon-jiaoliushequ:before {
  content: "\e66a";
}

.icon-wode:before {
  content: "\e613";
}

.icon-biaoqian:before {
  content: "\e742";
}

.icon-1:before {
  content: "\e601";
}

.icon-daohang:before {
  content: "\e88a";
}

.icon-wodezhuifan:before {
  content: "\e6d8";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-ziyuan:before {
  content: "\e606";
}

.icon-biaoqian1:before {
  content: "\e628";
}

.icon-biaoqian2:before {
  content: "\e615";
}

.icon-TIFFANYSROOM_huaban:before {
  content: "\e771";
}

.icon-tubiaozhizuomoban:before {
  content: "\e620";
}

.icon-xiangce:before {
  content: "\e604";
}

.icon-shejiaotubiao-38:before {
  content: "\e647";
}

.icon-liuyanban:before {
  content: "\e684";
}

.icon-huangse_liuyanban:before {
  content: "\e650";
}

.icon-lunwenguidangguanli:before {
  content: "\e6c0";
}

.icon-wenzhang:before {
  content: "\ec64";
}

.icon-yingshi:before {
  content: "\10081";
}

.icon-biaoqian3:before {
  content: "\e6e1";
}

.icon-baibaoxiang:before {
  content: "\e6d2";
}

